[[extend 'layout.html']]

<div class="section" id="app">
  <!-- Put here your Vue.js template -->
  <div class="level-right">
    <div class="field has-addons">
      <p class="control">
        <input class="input" type="text" v-model="search_query" placeholder="Find a Bird" />
      </p>
      <p class="control">
        <button class="button" @click="filteredSightings">Search</button>
      </p>
    </div>
  </div>

  <div class="level-left">
    <a :href="'/bird_app/index'" style="margin-top: -40px;" class="button is-link">Return to Map</a>
  </div>

  <h1 class="title" style="text-align: center;" >CHECKLIST</h1>
  <div class="container">
    <table class="table is-fullwidth is-striped">
      <tr class="add-row">
        <td class="is-narrow"><i class="is-size-2 fa-solid fa-plus-square has-text-success add-item" @click="add_sighting"></i></td>
        <td><input class="input" type="text" v-model="name" placeholder="Bird Name"></td>
        <td><input class="input" type="number" v-model="count" placeholder="Count" style="width: 87px;"></td>
        <td class="is-narrow"></td>
      </tr>
      <tr class="item-row" v-for="s in filteredSightings">
        <td><i @click="add_count(s.id)" class="fa fa-plus-square"></i></td>
        <td> {{ s.observation_count }} </td>
        <td> {{ s.name}} </td>
        <td class="trash is-narrow"><i class="trash has-text-danger fa-solid fa-trash-can" @click="del_sighting(s.id)"></i></td>
      </tr>
    </table>
    <div style="text-align: center;">
    <button class="button is-link is-medium" @click="submit_checklist" >Submit</button>
    </div>
  </div>
</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let load_sightings_url = "[[=XML(load_sightings_url)]]";
  let inc_sightings_url = "[[=XML(inc_sightings_url)]]";
  let add_sightings_url = "[[=XML(add_sightings_url)]]";
  let del_sightings_url = "[[=XML(del_sightings_url)]]";
  let sampling_id = "[[=XML(sampling_id)]]";
  // Add other URLs here if you wish.
</script>
<script src="js/checklist.js"></script>
[[end]]